@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    height: 78px;
    width: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-evenly;
}
.logo{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 800;
    font-family: 'Orbitron', sans-serif;
    /* background-color: aquamarine; */
}
.navlists{
    height: 100%;
    width: 50%;
    /* background-color: bisque; */
}
.navlists>ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    margin-top: 25px;
    list-style: none;
}
.buttons{
    height: 100%;
    width: 20%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
}
/* Navbar finished here */
/* Main body */
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items{
    height: 250px;
    width: 150px;
    background-color: aqua;
}
.items>img{
    height: 75%;
    width: 90%;
    background-color: beige;
}

